* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    background: #E554731A;
    justify-content: space-between;
    /* margin:0px 100px; */
    padding: 50px 150px 1px 150px;
}

.heading {
    display: flex;
    width: 708px;
    flex-direction: column;
    /* flex-shrink: 0; */
    color: #272727;
    /* font-family: Lato; */
    font-size: 80px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
    margin-left: 20px;
    margin-top: 200px;
}

.para {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
    margin-top: 40px;
}

.smallflower {
    /* width: 235px;
    height: 300px; */
    width: 635px;
    height: 800px;
    /* flex-shrink: 0; */
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

/* shared css files here to*/

/* shared css files here */
.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 25px;
    border: none;
    margin-left: 20px;
    margin-top: 40px;
    text-align: center;
}

/* main section styles
/* our flowers section styles */
.name {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #272727;
    margin-top: 150px;
}

.flowers-description {
    display: flex;
    width: 594px;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #272727;
    justify-content: center;
    margin: 8px 470px;
}

.flowers-list {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 180px 30px 190px;
}

.flowers-list .fl-1 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    /* width: 310px;
    height: 428px; */
    width: 360px;
    height: 598px;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    color: #A72162;
}

.fl-1 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    /* width: 210px;
    height: 28px;
    flex-shrink: 0; */
    padding: 57px 8px 0px 18px;
}

.flowers-list .fl-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 324px;
    height: 538px;
    flex-shrink: 0;
    color: #0597A0;
}

.fl-2 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    /* width: 370px;
    height: 370px;
    flex-shrink: 0; */
    padding: 117px 47px 2px 47px;
}

.fl-3 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    /* width: 314px;
    height: 471px;
    flex-shrink: 0; */
    padding: 67px 65px;
}

.flowers-list .fl-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 304px;
    height: 520px;
    /* flex-shrink: 0; */
    color: #477D1126;
}

.name-flowers {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 40px;
}

.name-flowers .border1 {
    border-bottom: solid black;
}

.name-flowers .border2 {
    border-bottom: solid black;
}

.name-flowers .border3 {
    border-bottom: solid black;
}

/* All about support sessions */

.support {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    /* flex-shrink: 0; */
    color: #272727;
    margin: 150px 240px;
    padding: 80px 80px;
}

.support-section {
    display: flex;
    justify-content: space-evenly;
    margin: 120px 0px 8px;
}

.support-description {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.color {
    color: #E55473;
    ;
}

.secondflower {
    display: flex;
    justify-content: center;
    background: #E554731A;
    /* text-align: center; */
    align-items: center;
    margin: 80px 0px 80px 0px;
}

.size {
    font-size: 40px;
    margin-bottom: 15px;
}

.pr-size {
    font-size: 24px;
}

.insta .size {
    margin: 150px 650px 30px;
}

.insta .pr-size {
    margin: 2px 390px;
    text-align: center;
}

.beautiful-flowers {
    margin: 0px 212px 80px;
}

.beautiful-flowers .ful-1 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 260px;
    height: 396px;
    flex-shrink: 0;
}

.beautiful-flowers .ful-2 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 260px;
    height: 396px;
    flex-shrink: 0;
}

.beautiful-flowers .ful-3 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 260px;
    height: 396px;
    flex-shrink: 0;
}

.beautiful-flowers .ful-4 {
    background: url(<path-to-image>), lightgray -11.535px 0px / 173.728% 100% no-repeat;
    width: 260px;
    height: 396px;
    flex-shrink: 0;
}